﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BusBookingMaster.Master" AutoEventWireup="true" CodeBehind="AboutUs.aspx.cs" Inherits="BusBookingProject.AboutUs" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="container" style="margin-top:6%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <h3>About Us</h3>
                </div>
            </div>
            <div class="panel-body">
                <p style="font-size:large">
                    ok, We are among top 10 Service Provider for Online Bus Booking in India,
                    We have our branches in all Major cities in India,Our Services are very fast 
                    compare to other Online Portals.We works with Efficieny and provide a
                    good service Environment to our End Users,24*4 Support Facility is Available,
                    Each and every query is Resolved with in a Day...
                </p>
            </div>
        </div>
    </div>
</asp:Content>
